body {font-weight: bold;}
.blue {
	fill: #2212ff;
}

.red {
	fill: #ff2212;
}

.open {
	fill: #cdb280;
}

.blue-box {
	background: #2212ff;
}

.red-box {
	background: #ff2212;
}

.open-box {
	background: #cdb280;
}

#wrapper { text-align: center; }
#wrappper svg { background-color: #cacaca; }

.state-info {
	color: white;
	font-size: 12px;
	text-align: center;
}

#votes-wrapper { width: 70%; margin: auto;}
#bar-header { display: block; overflow: hidden;}
#republican { float: right; color: #ff2212; }
#democrat { float: left; color: #2212ff; }
#open { color: #fff; }

#republican span, #democrat span {
	margin: 0 15px;
	font-size: 32px;
}

#arrow-top {
	border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    height: 0;
    width: 0;
    float: right;
    right: -10px;
    top: -10px;
    position: relative;
}

#arrow-bottom {
	border-bottom: 10px solid black; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	height: 0;
	width: 0;
	float: right;
    right: -30px;
    bottom: -30px;
    position: relative;
}

#vote-bar {
	width: 100%;
	height: 30px;
	position: relative;
}

#blue-votes, #open-votes, #red-votes {
	position: relative;
	display: block;
	float: left;
	height: 100%;
}

.vote-titles { font-family: "Arial Black", Gadget, sans-serif; font-size: 18px; }
#blue-votes { background: #2212ff; }
#red-votes { background: #ff2212; float: right;}
#open-votes { background: #cdb280; }


#small-states-list { 
	display: inline-block;
    position: relative;
    list-style: none;
    right: 100px;
    top: -100px;
}
#small-states-list li { padding: 3px;}
.small-state {
	float: left;
	width: 30px;
	height: 20px;
	/*background: #ff2212;*/
	margin-right: 5px;
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	color: white;
}

@media (max-width: 950px) {
	#small-states-list {
		margin-top: 141px;
    	right: 0%;
	}
}

#reset-btn {
	margin: auto;
}
