<!DOCTYPE html>
<html ng-app="interactiveMap">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Electoral Map</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/state-objects.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="wrapper" ng-controller="interactiveMapCntrl">
		<div id="votes-wrapper">
			<div id="arrow-top"></div>
			<div id="arrow-bottom"></div>
			<div id="bar-header">
				<h3 id="democrat" class="vote-titles">Democrat <span ng-bind="blueVotes"></span></h3>
				<h3 id="republican" class="vote-titles"><span ng-bind="redVotes"></span> Republican</h3>
			</div>
			<div id="vote-bar">
				<div id="blue-votes" ng-style="{width: blueBar}"></div>
				<div id="open-votes" ng-style="{width: openBar}"><span id="open" class="vote-titles" ng-bind="openVotes"></span></div>
				<div id="red-votes" ng-style="{width: redBar}"></div>
			</div>
		</div>
		<svg width="730" height="500">
			<g class="states" ng-repeat="state in states" ng-click="stateVoted(state)">
				<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
				<foreignObject class="state-name" ng-attr-x={{state.nameX}} ng-attr-y={{state.nameY}} width="20" heigth="30">
					<body>
						<div class="state-info">
							{{state.abbr}}
							<br />
							{{state.electoralVotes}}
						</div>
					</body>
				</foreignObject>
				<ul id="small-states-list">
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
					<li><div class="small-state "></div>AB</li>
				</ul>
			</g>
		</svg>


		<div class="red-states-total">{{redStatesTotal}}</div>
		<div class="blue-states-total">{{blueStatesTotal}}</div>
		<div class="open-states-total">{{openStatesTotal}}</div>
	</div>
</body>
</html>